0.017 0.002 0.0001 0.027 10 100 0.1 0.5 3800 5500
3.2  0.0    1.9    6.5
0.4  0.1    0.0   2.5
6
6530 6950 ../example/pipe3d_example_data/mask_elines.txt ../example/pipe3d_example_data/Ha_SII_V500.config 9 mask_elines_H.txt 20 1950
4900 5200 ../example/pipe3d_example_data/mask_elines.txt ../example/pipe3d_example_data/OIII_only_V500.config 9 mask_elines_H.txt 20 1950
4800 5050 ../example/pipe3d_example_data/mask_elines.txt ../example/pipe3d_example_data/Hb_V500.config 9 mask_elines_H.txt 20 1950
4310 4500 ../example/pipe3d_example_data/mask_elines.txt ../example/pipe3d_example_data/Hg_V500.config 9 mask_elines_H.txt 20 1950
4095 4250 ../example/pipe3d_example_data/mask_elines.txt ../example/pipe3d_example_data/Hd_V500.config 9 mask_elines_H.txt 20 1950
3700 3900 ../example/pipe3d_example_data/mask_elines.txt ../example/pipe3d_example_data/OII_V500.config 9 mask_elines_H.txt 20 1950
0.0001  1 0.00
6588 6760
